blinker
boto3
botocore
cachetools
certifi
charset-normalizer
click
colorama
et_xmlfile
Flask
flask-cors
google-api-core
google-auth
google-cloud-vision
googleapis-common-protos
grpcio
grpcio-status
idna
itsdangerous
Jinja2
jmespath
MarkupSafe
numpy
opencv-python
openpyxl
packaging
pandas
pillow
proto-plus
protobuf
pyasn1
pyasn1_modules
pytesseract
python-dateutil
pytz
requests
rsa
s3transfer
six
typing_extensions
tzdata
urllib3
Werkzeug
